

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(148, 128, 31);
    background: rgba(148, 128, 31, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    padding: 20px;
}
.texto{
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#Edad_antigua:hover .overlay {
    height: 50%;
}
#Edad_antigua{
    display:block;
    position:fixed;
    border:3px solid rgb(184,178,147);
    background-size: cover;
    background-repeat: no-repeat;
}
#pagina{
    display:block;
    position:fixed;
    z-index:99;
    width: 250px;
}
#pagina.large{
    height: 300px;
}
#pagina.small{
    height: 100px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}